<form [formGroup]="setNewEmailForm" class="email-form" (ngSubmit)="onSendVerificationCode()">
    <div class="inputs-field">
        <label for="newEmail">Verify using email</label>
        <input type="email" name="newEmail" id="newEmail" formControlName="newEmail" class="input"
            placeholder="yourname@domain.com" />
    </div>
    
    <div class="inputs-field">
        <label for="newEmail">confirm new email</label>
        <input type="email" name="confirmNewEmail" id="confirmNewEmail" formControlName="confirmNewEmail" class="input"
            placeholder="yourname@domain.com" />
    </div>

    <div class="error-code" *ngIf="setNewEmailForm.get('newEmail').touched 
        && !setNewEmailForm.get('newEmail').valid">
        email is incorrect!
    </div>

    <div class="inputs-field">
        <label for="send-code-button">Send code</label>
        <input type="submit" value="send" class="input button" [disabled]="!setNewEmailForm.valid" />
    </div>

</form>