.password-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 32px;

    &.last {
        margin-bottom: 16px;
    }
}