@import "./../../../styleset.scss";

.header{
    box-sizing: border-box;
    width: 100%;
    height: $headerHeight;
    background-color: $headerBackground;
    border-bottom: $borderWidth solid $accent;
}