<div class="wrapper" *ngIf="currentUser.email && !showEmailChangeForm">
    <span>You're verified with email:</span>
    <span>{{currentUser.email}}</span>
    <input type="button" class="input button" value="change" (click)="startEmailChange()" />
</div>

<div class="wrapper" *ngIf="currentUser.email && showEmailChangeForm">
    <form [formGroup]="changeEmailForm" class="updateEmailForm">
        <div class="inputs-field">
            <label for="updateEmail">New email:</label>
            <input id="updateEmail" name="updateEmail" formControlName="updateEmail" type="email"
                class="input field" />
        </div>

        <div class="inputs-field">
            <label for="updateEmailConfirm">Password</label>
            <input id="updateEmailConfirm" name="updateEmailConfirm" formControl="updateEmailConfirm"
                type="password" class="input field">
        </div>

        <div class="buttons-field">
            <input type="button" value="reject" class="input button" (click)="onRejectEdit()" />
            <input type="button" value="confirm" class="input button" (click)="onConfirmEdit()" />
        </div>
    </form>
</div>