@import './../../../../styleset.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

}

.permissions-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    padding: 10px;
    border-radius: 4px;

    transition: all $duration ease-in-out;

    &:hover {
        background-color: rgb(28, 29, 31);

    }
}

.permission-value {
    margin-right: 10px;
}

ul {
    all: unset;
    list-style-type: none;
}

li {
    padding: 10px;
}

h2 {
    text-align: center;
    margin: unset;
    margin-bottom: 16px;
}