<h2>Permissions</h2>

<form [formGroup]="permissionsForm">

    <ul>
        <li *ngFor="let permission of permissions" class="permissions-wrapper">
            <label [htmlFor]="permission.key" class="permission-label">
                <input type="checkbox" class="permission-value" [id]="permission.key" [name]="permission.key"
                    [checked]="permission.value" [formControlName]="permission.key" (change)="onPermissionsUpdate()" />
                <span>{{permission.key}}</span>
            </label>
        </li>
    </ul>

</form>