@import "./../../../styleset.scss";

:host {
    position: relative;
    z-index: 10;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: $footerHeight;

    color: $text-faded;
    background-color: $footerBackground;
    box-shadow: 0 0 64px $shadowColor;

    transition: all $duration ease-in-out;
}

@media (max-width: 996px) {

    .footer {
        height: $footerHeightSmall;
        padding: 12px 32px 12px 18px;
        text-wrap: nowrap;
        font-size: small;
    }
}