@import "./../../../styleset.scss";

.redirection-management-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    padding: 32px 58px;
    border-radius: 24px;
    background-color: $menu-background;
    box-shadow: 0 0 32px $shadowColor;
    border-top: 4px solid $accent;

    transition: all $duration ease-in-out;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs-field {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.form-control-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h3 {
    margin: unset;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 1);
}

.narrow-col {
    padding: 5px 4px;
}

.wide-col {
    min-width: 120px;
}

th {
    background-color: $accent;
    padding: 12px 40px;
}

td {
    text-align: center;
    overflow: hidden;
    padding: 6px 12px;
}

.confirm-button {
    border: none;
    border-radius: 8px;
    padding: 6px 16px;
    background-color: $accent;
    color: $text-default;

    &:hover {
        transform: scale(0.97);
        background-color: $accent-hover;
    }
}

.table-field {
    overflow: hidden;
}

hr {
    width: 100%;
    border: 2px solid $accent;
    border-radius: 3px;
}

a {
    color: white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:visited {
        color: white;
    }

    &:hover {
        color: #ccc;
    }
}

@media (max-width: 996px) {

    .redirection-management-field {
        padding: 24px 12px; 
        gap: 10px;
    }

    *{
        font-size:x-small;
    }

    th {
        padding: 4px 26px;
    }

    td{
        padding: 3px 6px;
    }

    .wide-col{
        min-width: 60px;
    }

    .narrow-col {
        padding: 2px 3px;
    }

    .inputs-field{
        flex-direction: column;
    }
}