@import "./../../../styleset.scss";

.user-profile-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 48px;

    color: white;

    padding: 48px 86px;
    border-radius: 24px;
    background-color: $menu-background;
    box-shadow: 0 0 32px $shadowColor;
    border-top: 4px solid $accent;

    transition: all $duration ease-in-out;
}

.sections-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;

    gap: 86px;
}

.description-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}


.image-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
}

hr {
    width: 100%;
    border: 2px solid $accent;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-field {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px
}

.inputs-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        margin-bottom: 16px;
    }
}

@media (max-width: 996px) {

    .sections-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .redirection-management-field {
        width: 95%;
        padding: 24px 12px;
        gap: 10px;
    }

    * {
        font-size: x-small;
    }

    th {
        padding: 4px 26px;
    }

    td {
        padding: 3px 6px;
    }

    .wide-col {
        min-width: 60px;
    }

    .narrow-col {
        padding: 2px 3px;
    }

    .inputs-field {
        flex-direction: column;
    }
}

.error-code {
    margin-top: 8px;
    color: red;
}