<div class="user-profile-field">
    <h1>{{currentUser.login}} profile</h1>
    <div class="sections-wrapper">

        <div class="description-side">

            <manage-permissions />

            <hr />

            <change-password [currentUser]="currentUser" />

        </div>

        <div class="image-side">

            <div>
                <form class="profilePicForm" >
                    <input class="profilePicInput" type="file">
                    <div class="imageWrapper">
                        <img class="profile-pic" [src]="image ? image : ''" draggable="false" />
                    </div>
                </form>
            </div>

            <hr />

            <app-email-display [currentUser]="currentUser"
                *ngIf="currentUser.email && !changeProcess && !deleteProcess" />

            <app-email-change [currentUser]="currentUser"
                *ngIf="(!currentUser.email && !currentUser.emailSent) || (changeProcess && !deleteProcess)" />

            <app-email-confirm [currentUser]="currentUser"
                *ngIf="(!currentUser.email && currentUser.emailSent) || (currentUser.emailSent && changeProcess && !changeProcess)" />

            <app-email-delete [currentUser]="currentUser" *ngIf="currentUser.email && deleteProcess" />

            <hr />

            <delete-account />

        </div>
    </div>
</div>