<div class="user-profile-field">
    <h1>{{currentUser.login}} profile</h1>
    <div class="sections-wrapper">

        <div class="description-side">

            <manage-permissions />

            <hr />

            <change-password [currentUser]="currentUser" />

        </div>

        <div class="image-side">

            <div class="form-container">
                <form class="profilePictureForm" [formGroup]="imageForm">
                    <div class="profileElementWrapper options">
                        <input type="button" [value]="image ? 'change' : 'set'" class="input button option"
                            (click)="onSetImage()" />
                        <input type="button" *ngIf="image" value="delete" class="input button option"
                            (click)="onDeleteImage()" />
                    </div>
                    <div class="profileElementWrapper profilePicture">
                        <img [src]="image ? image : ''" draggable="false" />
                    </div>
                    <input #setProfilePicture type="file" formControlName="image" />
                </form>

                <div *ngIf="imageError" class="error-code">
                    Something went wrong.
                </div>
            </div>

            <hr />

            <app-email-display [currentUser]="currentUser"
                *ngIf="currentUser.email && !changeProcess && !deleteProcess" />

            <app-email-change [currentUser]="currentUser"
                *ngIf="(!currentUser.email && !currentUser.emailSent) || (changeProcess && !deleteProcess && !currentUser.emailSent)" />

            <app-email-confirm [currentUser]="currentUser"
                *ngIf="(!currentUser.email && currentUser.emailSent) || (currentUser.emailSent && changeProcess && currentUser.emailSent)" />

            <app-email-delete [currentUser]="currentUser" *ngIf="currentUser.email && deleteProcess" />

            <hr />

            <delete-account />

        </div>
    </div>
</div>