<td class="narrow-col" (click)="onCopyToClipboard()">
    <span class="copy"> {{index+1}}</span>
</td>

<td class="narrow-col" (click)="onCopyToClipboard('id')">
    <span class="copy">{{user.id}}</span>
</td>

<td class="medium-col">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('login')"> {{user.login}}</span>
    <input *ngIf="editMode" type="text" [value]="user.login" class="edit" />
</td>

<td class="medium-col password">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('password')"> {{user.password}} </span>
    <input *ngIf="editMode" type="text" [value]="user.password" class="edit" />
</td>

<td class="medium-col permissions">
    <div class="row">
        <div class="permissions-wrapper">
            <input type="checkbox" [checked]="user.canCreate" />
            <label>cre</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" [checked]="user.canUpdate" />
            <label>upd</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" [checked]="user.canDelete" />
            <label>del</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" [checked]="user.canManage" />
            <label>man</label>
        </div>
    </div>
</td>

<td class="medium-col">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('email')">{{user.email ? user.email :
        'none'}}</span>
    <input *ngIf="editMode" type="text" [value]="user.email ? user.email : 'none'" class="edit" />
</td>

<td class="email-sent" (click)="onCopyToClipboard('emailSent')">
    <span class="copy">{{user.emailSent ? 'sent' : 'none'}}</span>
</td>

<td *ngIf="editMode">

    <input class="button apply" type="button" value="confirm" (click)="onConfirmEdit()" />
    <input class="button reject" type="button" value="reject" (click)="onRejectEdit()" />

</td>

<td *ngIf="!editMode">
    <input type="button" class="button edit" value="edit" (click)="onEdit()" />
</td>

<td>
    <input type="button" class="button delete" value="X" (click)="onDelete()" />
</td>