<td class="narrow-col" (click)="onCopyToClipboard()">
    <span class="copy"> {{index+1}}</span>
</td>

<td class="narrow-col" (click)="onCopyToClipboard('id')">
    <span class="copy">{{user.id}}</span>
</td>

<td class="medium-col">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('login')"> {{user.login}}</span>
    <input *ngIf="editMode" type="text" (input)="refreshGuard()" [(ngModel)]="loginInput" class="edit" />
</td>

<td class="medium-col password">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('password')"> {{user.password}} </span>
    <input *ngIf="editMode" type="text" (input)="refreshGuard()" [(ngModel)]="passwordInput" class="edit" />
</td>

<td class="medium-col permissions">
    <form class="row" [formGroup]="permissionsForm">
        <div class="permissions-wrapper">
            <input type="checkbox" id="canCreate_{{user.id}}" name="canCreate_{{user.id}}" [checked]="user.canCreate"
                formControlName="canCreate" (change)="onUpdatePermissions()" />
            <label for="canCreate_{{user.id}}">cre</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" id="canUpdate_{{user.id}}" name="canUpdate_{{user.id}}" [checked]="user.canUpdate"
                formControlName="canUpdate" (change)="onUpdatePermissions()" />
            <label for="canUpdate_{{user.id}}">upd</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" id="canDelete_{{user.id}}" name="canDelete_{{user.id}}" [checked]="user.canDelete"
                formControlName="canDelete" (change)="onUpdatePermissions()" />
            <label for="canDelete_{{user.id}}">del</label>
        </div>
        <div class="permissions-wrapper">
            <input type="checkbox" id="canManage_{{user.id}}" name="canManage_{{user.id}}" [checked]="user.canManage"
                formControlName="canManage" (change)="onUpdatePermissions('canManage')" />
            <label for="canManage_{{user.id}}">man</label>
        </div>
    </form>
</td>

<td class="medium-col">
    <span *ngIf="!editMode" class="copy" (click)="onCopyToClipboard('email')">{{user.email ? user.email :
        'none'}}</span>
    <input *ngIf="editMode" type="text" (input)="refreshGuard()" [(ngModel)]="emailInput" class="edit" />
</td>

<td class="email-sent" (click)="onCopyToClipboard('emailSent')">
    <span class="copy">{{user.emailSent ? 'sent' : 'none'}}</span>
</td>

<td *ngIf="editMode">

    <input class="button apply" type="button" value="confirm" (click)="onConfirmEdit()" />
    <input class="button reject" type="button" value="reject" (click)="onRejectEdit()" />

</td>

<td *ngIf="!editMode">
    <input type="button" class="button edit" value="edit" (click)="onEdit()" />
</td>

<td>
    <input type="button" class="button delete" value="X" (click)="onDelete()" />
</td>