@import "./../../../styleset.scss";

h3 {
    margin: 0;
}

#form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    background-color: $headerBackground;
    padding: 42px 50px;
    border-radius: 42px;
    box-shadow: 0 0 32px $glowColor;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.buttons-field {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.error-code {
    color: $text-error;
}

.reg-label{
    margin-top: 20px;
    color: $text-faded;
}

.form-button {

    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    border: none;

    color: white;

    transition: all 0.3s ease-in-out;

    &:enabled {
        background-color: $accent;

        &:hover {
            cursor: pointer;
            transform: scale(0.95);
            background-color: $accent-hover;
        }
    }

    &:disabled {
        background-color: rgb(36, 42, 46);
    }
}

@media (max-width: 996px) {

    .form-input {
        min-width: 180px;
    }

    #form-field {
        padding: 32px 48px;
        border-radius: 32px;
    }
}