<div class="users-management-field">

    <div class="create-user-field">
        <form class="form-field" [formGroup]="createNewUser" (ngSubmit)="onUserCreate()">
            <h1>CREATE USER</h1>
            <div class="inputs-field">
                <div class="control-group">
                    <label for="">Login</label>
                    <input type="text" class="input" id="login" name="login" placeholder="login"
                        formControlName="login" />
                </div>
                <div class="control-group">
                    <label for="password">Password</label>
                    <input type="password" class="input" id="password" name="password" placeholder="password"
                        formControlName="password">
                </div>
                <div class="control-group">
                    <label for="email">Email</label>
                    <input type="email" class="input" id="email" name="email" placeholder="name@domain.com"
                        formControlName="email" />
                </div>
            </div>

            <div class="inputs-field">
                <label><input type="checkbox" class="input" id="canUpdate" name="canUpdate"
                        formControlName="canUpdate">canUpdate</label>
                <label><input type="checkbox" class="input" id="canDelete" name="canDelete"
                        formControlName="canDelete">canDelete</label>
                <label><input type="checkbox" class="input" id="canCreate" name="canCreate"
                        formControlName="canCreate">canCreate</label>
                <label><input type="checkbox" class="input" id="canManage" name="canManage"
                        formControlName="canManage">canManage</label>
            </div>

            <div *ngIf="createUserError">
                <span class="error-code"> Something went wrong, try again later.</span>
            </div>

            <input type="submit" value="CREATE" class="confirm" [disabled]="!createNewUser.valid" />

        </form>
    </div>

    <hr *ngIf="this.users.length" />

    <div class="users-table">
        <table>
            <tr>
                <th>indx</th>
                <th class="narrow-col">id</th>
                <th>login</th>
                <th>password</th>
                <th>permissions</th>
                <th>email</th>
                <th>email sent</th>
                <th colspan="2"></th>
            </tr>
            <tr *ngFor="let user of users; index as i" [user-bar] [user]="user" [index]="i">
            </tr>
        </table>
    </div>

</div>