<div class="users-management-field">

    <div class="create-user-field">
        <form class="form-field">
            <h3>STWÓRZ UŻYTKOWNIKA</h3>
            <div class="inputs-field"></div>
        </form>
    </div>

    <div class="users-table">
        <table>
            <tr>
                <th>id</th>
                <th>nickname</th>
                <th>save</th>
                <th>modify</th>
                <th>remove</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

</div>