<form [formGroup]="confirmEmailWithCodeForm" class="email-form" (ngSubmit)="onEmailConfirm()">
    <div class="inputs-field">
        <label for="new-email">Verify using email</label>
        <div class="confirm-wrapper">
            <input type="email" name="newEmail" id="newEmail" formControlName="newEmail" class="input" />
            <input type="button" value="cancel" class="input button" (click)="onCancel()" />
        </div>
    </div>

    <div class="inputs-field">
        <label for="send-code-button">confirm code</label>
        <div class="confirm-wrapper">
            <input name="confirmationCode" id="confirmationCode" formControlName="confirmationCode" type="text"
                class="input field" placeholder="123456789" />
            <input type="submit" value="confirm" class="input button" [disabled]="!confirmEmailWithCodeForm.valid" />
        </div>

        <div class="error-code" *ngIf="wrongCode">
            Incorrect code!
        </div>
    </div>
</form>