@import "./../../../styleset.scss";

:host {
    width: 100%;
    height: calc(100dvh - $headerHeight - $footerHeight);
    height: fit-content;
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.pages-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 400px;
    height: calc(100dvh - $headerHeight - $footerHeight);
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 50px;

    background-color: $menu-background;
    transition: all 0.3s ease-in-out;
}

.admin-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    color: $text-default;
    background-color: $menu-background-hover;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    color: $text-faded;
}

.panel-route {
    width: 100%;
    list-style-type: none;
    padding: 14px 32px;
    transition: all 0.21s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $menu-background-hover;
        color: $text-default;
    }
}

h3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:hover {
        .username{
            color: $accent
        }
    }
}

.username {
    transition: all 0.4s ease-in-out;
}

#logout {
    color: $text-default;
    background-color: $accent;

    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(0.95);
        background-color: $accent-hover;
    }
}

.pages-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 50px 0;
    width: 100%;
    height: calc(100dvh - $headerHeight - $footerHeight);
    position: relative;
    z-index: 1;

    overflow-x: hidden;
}

@media (max-width: 996px) {

    .pages-menu {
        display: none;
    }

    :host,
    .pages-menu,
    .pages-content {
        min-height: calc(100dvh - $headerHeightSmall - $footerHeightSmall);
    }

}