<td class="narrow-col">
    {{index+1}}
</td>

<td class="medium-col">
    <span *ngIf="!editMode" (click)="onRedirectTo()" class="copy">
        {{displayData ? redirection.route : '***** ***'}}</span>
    <input *ngIf="editMode" type="text" value={{redirection.route}} class="edit" [(ngModel)]="routeInput"
        (keydown.escape)="onRejectEdit()" (keydown.enter)="onConfirmEdit()" (input)="refreshGuard()">
</td>

<td class="wide-col">
    <span *ngIf="!editMode" (click)="onCopyToClipboard()" class="copy">
        {{displayData ? redirection.targetUrl : '***** ***'}}</span>
    <input *ngIf="editMode" type="text" value={{redirection.targetUrl}} class="edit" [(ngModel)]="targetPathInput"
        (keydown.escape)="onRejectEdit()" (keydown.enter)="onConfirmEdit()" (input)="refreshGuard()">
</td>

<td class="narrow-col">
    <span *ngIf="!editMode">{{redirection.category}}</span>
    <input *ngIf="editMode" type="text" value={{redirection.category}} class="edit" [(ngModel)]="categoryInput"
        (keydown.escape)="onRejectEdit()" (keydown.enter)="onConfirmEdit()" (input)="refreshGuard()"/>
</td>

<td>
    {{ redirection.clicksTotal ? redirection.clicksTotal : '0' }}
</td>

<td *ngIf="editMode">

    <input class="button apply" type="button" value="confirm" (click)="onConfirmEdit()" />
    <input class="button reject" type="button" value="reject" (click)="onRejectEdit()" />

</td>

<td *ngIf="!editMode && permissions.canUpdate">
    <input class="button edit" type="button" value="edit" (click)="onEdit()">
</td>

<td *ngIf="permissions.canDelete">
    <input class="button delete" type="button" value="X" (click)="onDelete()">
</td>