$headerHeight: 100px;
$footerHeight: 100px;
$borderWidth: 6px;

$headerBackground: hsl(215, 12%, 6%);
$footerBackground: hsl(215, 4%, 5%);
$contentBackground: hsl(215, 5%, 10%);
$accent: hsl(215, 70%, 50%);