$headerHeight: 120px;
$footerHeight: 140px;
$borderWidth: 6px;

$headerBackground: hsl(215, 12%, 6%);
$footerBackground: hsl(215, 30%, 12%);
$contentBackground: hsl(215, 5%, 10%);
$menu-background: hsl(215,5%,5%);

$accent: hsl(215, 70%, 50%);
$accent-focus: rgba(31, 112, 226, 0.5);
$accent-hover: hsl(215, 60%, 60%);
$glowColor: rgba(166, 166, 166, 0.2);
$shadowColor: rgba(5, 5, 5, 0.7);

$text-hover: #aaa;
$text-default: #fff;
$text-faded: #999;
$text-error: hsl(0, 80%, 50%);