@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import "./styleset.scss";

* {
    user-select: none;
    font-family: montserrat;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: white;
}

::-webkit-scrollbar {
    background-color: $background-color-secondary;
    width: 12px;
    border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: $background-color-secondary;
    border: 2px solid rgb(31, 31, 31);
}

::-webkit-scrollbar-thumb:hover {
    background-color: $background-color-secondary-on-hover;
}

.input {
    background-color: rgb(51, 51, 51);
    border: none;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 8px 12px;
    outline: none;
    border-bottom: 3px solid $accent;
    transition: all 0.3s ease-in-out;
    color: white;

    &:enabled {
        &.field {
            &:focus {
                box-shadow: 0 0 24px $accent-focus;
                border-bottom: 3px solid rgb(39, 230, 71);
            }
        }

        &:hover {
            box-shadow: 0 0 24px $accent-focus;
        }

        &.button {
            min-width: 70px;

            &:hover {
                transform: scale(0.95);
            }

            &:active {
                transform: scale(0.88);
                background-color: white;
            }

            cursor: pointer;
        }
    }

    &:disabled {
        color: #aaa;
        user-select: none;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.error-code {
    text-align: center;
    padding: 6px 12px;
    color: red;
    border: 1px solid #6d1616;
    border-radius: 3px;
}