@import "./../../../styleset.scss";

.logs-display-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 48px 64px;
    gap: 28px;

    border-top: 4px solid $accent;
    border-radius: 24px;

    background-color: $menu-background;
    box-shadow: 0 0 32px $shadowColor;

    transition: all $duration ease-in-out;
}

h1 {
    text-align: center;
    margin: unset;
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.filter-wrapper,
.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.download {
    cursor: pointer;
}

.input {
    background-color: rgb(42, 45, 51);
    border: none;
    padding: 8px 12px;
    outline: none;
    border-bottom: 3px solid $accent;
    transition: all 0.3s ease-in-out;
    color: white;

    &:focus {
        box-shadow: 0 0 24px $accent-focus;
        border-bottom: 3px solid rgb(39, 230, 71);
    }

    &:hover {
        box-shadow: 0 0 24px $accent-focus;
    }
}

.error-row {
    display: flex;
    text-align: center;
    font-size: large;
    padding: 50px;
    color: rgb(128, 26, 26);
}

hr {
    width: 95%;
    border: 2px solid $accent;
}

.table-wrapper {
    height: 50dvh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid white;
}

table,
tr,
th,
td {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 1);
}

td {
    text-align: center;
    padding: 8px 4px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

.narrow-col {
    padding: 5px 14px;
}

.medium-col {
    min-width: 120px;
    padding: 5px 14px;
    overflow: hidden;
}

.wide-col {
    width: 520px;
    overflow: hidden;
}

@media (max-width: 996px) {

    .redirection-management-field {
        width: 95%;
        padding: 2px 12px;
        gap: 10px;
    }

    .table-wrapper {
        height: 48vh;
    }

    th {
        padding: 4px 26px;
    }

    td {
        padding: 3px 6px;
    }

    .narrow-col {
        padding: 2px 3px;
    }

    .wide-col {
        min-width: 60px;
    }

}