<div class="logs-display-field">
    <div>
        <h1> Last logs</h1>

        <div class="items-wrapper">

            <div class="filter-wrapper">
                <label for="min-date" (click)="onMinReset()">Min date</label>
                <input type="date" value="10.10.2017" id="min-date" name="min-date" class="management-input date-input"
                    [max]="maxDateLock" [(ngModel)]="minDate" (change)="onFilter()">
            </div>

            <div class="filter-wrapper">
                <label for="max-date" (click)="onMaxReset()" >Max date</label>
                <input type="date" value="10.10.2017" id="max-date" name="max-date" class="management-input date-input"
                    [max]="maxDateLock" [(ngModel)]="maxDate" (change)="onFilter()">
            </div>

            <div class="filter-wrapper">
                <label for="filter-by">Filter by status</label>
                <select class="management-input" [(ngModel)]="currentFilter" name="filter-by" id="filter-by"
                    (change)="onFilter()">
                    <option *ngFor="let filter of filters" [value]="filter">
                        {{filter}}
                    </option>
                </select>
            </div>

            <div class="button-wrapper">
                <label for="">Download</label>
                <div class="row"> 
                    <input type="button" class="download-data management-input" name="csv" id="csv"
                        (click)="onDownload('csv')" value="CSV" />
                    <input type="button" class="download-data management-input" name="json" id="json"
                        (click)="onDownload('json')" value="JSON" />
                </div>
            </div>

        </div>

        <hr />

        <div>
            <div class="table-wrapper" (scroll)="onScroll()" #scrollContainer>

                <table>

                    <thead>
                        <tr>
                            <th class="narrow-col">index</th>
                            <th class="wide-col">label</th>
                            <th class="medium-col">status</th>
                            <th class="narrow-col">time</th>
                            <th class="narrow-col"></th>
                        </tr>
                    </thead>

                    <tr *ngFor="let log of logs; index as i" logView [instance]="log" [index]="i">
                    </tr>

                </table>
            </div>
        </div>
    </div>

</div>