<div class="logs-display-field">
    <div>
        <h1> Last logs</h1>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th class="narrow-col">index</th>
                    <th class="wide-col">label</th>
                    <th class="medium-col">status</th>
                    <th class="narrow-col">expand</th>
                </tr>
                <tr *ngFor="let log of logs.getValue(); index as i" logView [instance]="log" [index]="i">
                </tr>

            </table>
        </div>
    </div>

</div>