@import "./../../../styleset.scss";

.logs-display-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 920px;
    height: 70vh;
    gap: 32px;

    padding: 32px 44px;
    border-radius: 24px;
    background-color: $menu-background;
    box-shadow: 0 0 32px $shadowColor;
    border-top: 4px solid $accent;

    transition: all $duration ease-in-out;
}

table,
tr,
th,
td {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 1);
}

td {
    padding: auto auto;
    text-align: center;
}

.narrow-col {
    padding: 5px 14px;
}

.medium-col {
    width: 100px;
    overflow: hidden;
}

.table-header {
    position: absolute;
    top: 0;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 42px;
}

.download-data{
    cursor: pointer;
}

h1{
    text-align: center;
    margin: 12px 0px;
}

.filter-wrapper,
.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


hr {
    border: 2px solid $accent;
    margin-bottom: 20px;
}

thead{
    position: sticky; top: 0; z-index: 1;
    background-color: black;
}

.table-wrapper {
    height: 50dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid white;
}

.wide-col {
    width: 520px;
    overflow: hidden;
}

.management-input {
    background-color: rgb(51, 51, 51);
    border: none;
    padding: 8px 12px;
    outline: none;
    border-bottom: 3px solid $accent;
    transition: all 0.3s ease-in-out;
    color: white;

    &:focus {
        box-shadow: 0 0 24px $accent-focus;
        border-bottom: 3px solid rgb(39, 230, 71);
    }

    &:hover {
        box-shadow: 0 0 24px $accent-focus;
    }
}

@media (max-width: 996px) {

    .redirection-management-field {
        width: 95%;
        padding: 2px 12px;
        gap: 10px;
    }


    .table-wrapper {
        height: 48vh;

    }

    th {
        padding: 4px 26px;
    }

    td {
        padding: 3px 6px;
    }

    .wide-col {
        min-width: 60px;
    }

    .narrow-col {
        padding: 2px 3px;
    }

    .inputs-field {
        flex-direction: column;
    }
}

.confirm-button {

    border: none;
    border-radius: 8px;
    padding: 9px 16px;
    color: #ccc;
    transition: all 0.3s ease-in-out;

    &:enabled {
        cursor: pointer;
        color: $text-default;
        background-color: $accent;

        &:hover {
            transform: scale(0.97);
            background-color: $accent-hover;
        }
    }

}