<div class="logs-display-field">

    <h1> Last logs</h1>

    <div class="menu-wrapper">

        <div class="filter-wrapper">
            <label for="min-date" (click)="onMinReset()">Min date</label>
            <input [(ngModel)]="params.minDate" type="date" id="min-date" name="min-date" class="input"
                [max]="maxDateLock" (change)="onFilter()">
        </div>

        <div class="filter-wrapper">
            <label for="max-date" (click)="onMaxReset()">Max date</label>
            <input [(ngModel)]="params.maxDate" type="date" id="max-date" name="max-date" class="input"
                [max]="maxDateLock" (change)="onFilter()">
        </div>

        <div class="filter-wrapper">
            <label for="filter-by">Filter by status</label>
            <select [(ngModel)]="filter" class="input" name="filter-by" id="filter-by" (change)="onFilter()">
                <option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </option>
            </select>
        </div>

        <div class="button-wrapper">
            <label>Download</label>
            <div class="row">
                <input type="button" class="input download" name="csv" id="csv" (click)="onDownload('csv')"
                    value="CSV" />
                <input type="button" class="input download" name="json" id="json" (click)="onDownload('json')"
                    value="JSON" />
            </div>
        </div>

    </div>

    <hr />

    <div class="table-wrapper" (scroll)="onScroll()" #scrollContainer>
        <table>
            <thead>
                <tr>
                    <th class="narrow-col">index</th>
                    <th class="wide-col">label</th>
                    <th class="medium-col">status</th>
                    <th class="narrow-col">time</th>
                    <th class="narrow-col"></th>
                </tr>
            </thead>

            <tr *ngFor="let log of logs; index as i" logView [instance]="log" [index]="i">
            </tr>

            <div *ngIf="!logs.length" class="error-row" [attr.colspan]="5"> No data was found</div>

        </table>
    </div>


</div>