<form [formGroup]="confirmEmailForm" class="email-form" *ngIf="!emailSent">
    <div class="inputs-field">
        <label for="newEmail">Verify using email</label>
        <input type="email" name="newEmail" id="newEmail" formControlName="newEmail" class="input" />
    </div>

    <div class="error-code" *ngIf="confirmEmailForm.get('newEmail').touched 
        && !confirmEmailForm.get('newEmail').valid">
        email is incorrect!
    </div>

    <div class="inputs-field">
        <label for="send-code-button">Send code</label>
        <input type="button" value="send" class="input button" [disabled]="!confirmEmailForm.valid"
            (click)="onSendVerificationCode()" />
    </div>

</form>

<form [formGroup]="confirmEmailWithCodeForm" class="email-form" *ngIf="emailSent">
    <div class="inputs-field">
        <label for="new-email">Verify using email</label>
        <div class="confirm-wrapper">
            <input type="email" name="newEmail" id="newEmail" formControlName="newEmail" class="input" />
            <input type="button" value="cancel" class="input button" (click)="onChangeEmail()" />
        </div>
    </div>

    <div class="inputs-field" *ngIf="emailSent">
        <label for="send-code-button">confirm code</label>
        <div class="confirm-wrapper">
            <input name="confirmationCode" id="confirmationCode" formControlName="confirmationCode" type="text"
                class="input field" />
            <input type="button" value="confirm" class="input button" (click)="onEmailConfirm()"
                [disabled]="!confirmEmailWithCodeForm.valid" />
        </div>

        <div class="error-code" *ngIf="wrongCode">
            Incorrect code!
        </div>
    </div>
</form>